<solo-table items-on-page="4" make-sortable>

    <input placeholder="Type year, for example 1976" type="text" name="id" ng-model="filterModel">

    <!-- Показываем данные пейджинга: сколько всего страниц, на какой находимся, сколько записей во всей таблице -->
    <div>Page {{pager.currentPage}}  of {{pager.foundPages}}. Total items:  {{pager.found}}</div>

    <!-- Эта таблица обязательно  должна присутствовать в директиве solo-table, что, в общем то, очевидно. -->
    <table class="table table-striped table-bordered" >
        <thead>
        <tr>
            <th sort-by='name'>Name</th>
            <th sort-by='age'>age</th>
        </tr>
        </thead>
        <tr ng-repeat="item in filtered = (table)" >
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
        </tr>
    </table>
    <div>
        <a href="" class="btn btn-default" ng-click="gotoFirstPage()">First page</a>
        <a href="" class="btn btn-default" ng-click="gotoPrevPage()"> &larr;prev</a>
        <a href="" class="btn btn-default" ng-click="gotoNextPage()">next &rarr;</a>
        <a href="" class="btn btn-default" ng-click="gotoLastPage()">Last page</a>
    </div>
</solo-table>
<div class="alert alert-success">{{ dt }}</div>
<h4>Popup</h4>
<div class="row">
    <div class="col-md-offset-3 col-md-3">
        <p class="input-group">
            <input readonly type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>
</div>