<table class="table table-bordered">
	<thead>
		<tr>
			<th>Название</th>
			<th>Преподаватель</th>
			<th>Язык</th>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat="group in groups">
		<td>{{ group.title }}</td>
		<td>{{ group.teacher.user.name }}</td>
		<td>{{ group.language.title }}</td>
	</tr>
	</tbody>
</table>