<nav class="navbar navbar-default nav-bar-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">School</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/')}"><a href="#/">Главная</a></li>
                <li ng-class="{ active: isActive('/groups')}"><a href="#/groups">Группы</a></li>
                <li ng-class="{ active: isActive('/timetable')}"><a href="#/timetable">Расписание</a></li>
                <li ng-class="{ active: isActive('/salary')}"><a href="#/salary">Зарплаты</a></li>
                <li ng-class="{ active: isActive('/reports')}"><a href="#/reports">Отчеты</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{ active: isActive('/profile')}"><a href="#/profile">Профиль</a></li>
            </ul>
        </div>
    </div>
</nav>