<h1 class="header">Timetable</h1>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="panel-title">Понедельник</span>
				<span class="badge">{{ days.monday.lessons.length || 0 }}</span>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped table-hovered" ng-show="days.monday">
					<thead>
					<tr>
						<th>Группа</th>
						<th>Время</th>
						<th>Язык</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="lesson in day.lessons">
						<td>{{ lesson.group.title }}</td>
						<td>{{ lesson.start | amDateFormat:'HH:mm' }} - {{ lesson.end |  amDateFormat:"HH:mm" }}</td>
						<td>{{ lesson.language.title }}</td>
					</tr>
					</tbody>
				</table>
				<div class="alert-thin alert-info" ng-hide="days.monday">
					На сегодня нет уроков
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="panel-title">Вторник</span>
				<span class="badge">{{ days.tuesday.lessons.length || 0 }}</span>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped table-hovered" ng-show="days.tuesday">
					<thead>
					<tr>
						<th>Группа</th>
						<th>Время</th>
						<th>Язык</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="lesson in day.lessons">
						<td>{{ lesson.group.title }}</td>
						<td>{{ lesson.start | amDateFormat:'HH:mm' }} - {{ lesson.end |  amDateFormat:"HH:mm" }}</td>
						<td>{{ lesson.language.title }}</td>
					</tr>
					</tbody>
				</table>
				<div class="alert-thin alert-info" ng-hide="days.tuesday">
					На сегодня нет уроков
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="panel-title">Среда</span>
				<span class="badge">{{ days.wednesday.lessons.length || 0 }}</span>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped table-hovered" ng-show="days.wednesday">
					<thead>
					<tr>
						<th>Группа</th>
						<th>Время</th>
						<th>Язык</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="lesson in days.wednesday.lessons">
						<td>{{ lesson.group.title }}</td>
						<td>{{ lesson.start | amDateFormat:'HH:mm' }} - {{ lesson.end |  amDateFormat:"HH:mm" }}</td>
						<td>{{ lesson.language.title }}</td>
					</tr>
					</tbody>
				</table>
				<div class="alert-thin alert-info" ng-hide="days.wednesday">
					На сегодня нет уроков
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="panel-title">Четверг</span>
				<span class="badge">{{ days.thursday.lessons.length || 0 }}</span>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped table-hovered" ng-show="days.thursday">
					<thead>
					<tr>
						<th>Группа</th>
						<th>Время</th>
						<th>Язык</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="lesson in days.thursday.lessons">
						<td>{{ lesson.group.title }}</td>
						<td>{{ lesson.start | amDateFormat:'HH:mm' }} - {{ lesson.end |  amDateFormat:"HH:mm" }}</td>
						<td>{{ lesson.language.title }}</td>
					</tr>
					</tbody>
				</table>
				<div class="alert-thin alert-info" ng-hide="days.thursday">
					На сегодня нет уроков
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="panel-title">Пятница</span>
				<span class="badge">{{ days.friday.lessons.length || 0 }}</span>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped table-hovered" ng-show="days.friday">
					<thead>
					<tr>
						<th>Группа</th>
						<th>Время</th>
						<th>Язык</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="lesson in day.lessons">
						<td>{{ lesson.group.title }}</td>
						<td>{{ lesson.start | amDateFormat:'HH:mm' }} - {{ lesson.end |  amDateFormat:"HH:mm" }}</td>
						<td>{{ lesson.language.title }}</td>
					</tr>
					</tbody>
				</table>
				<div class="alert-thin alert-info" ng-hide="days.friday">
					На сегодня нет уроков
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="panel-title">Суббота</span>
				<span class="badge">{{ days.saturday.lessons.length || 0 }}</span>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped table-hovered" ng-show="days.saturday">
					<thead>
					<tr>
						<th>Группа</th>
						<th>Время</th>
						<th>Язык</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="lesson in day.lessons">
						<td>{{ lesson.group.title }}</td>
						<td>{{ lesson.start | amDateFormat:'HH:mm' }} - {{ lesson.end |  amDateFormat:"HH:mm" }}</td>
						<td>{{ lesson.language.title }}</td>
					</tr>
					</tbody>
				</table>
				<div class="alert-thin alert-info" ng-hide="days.saturday">
					На сегодня нет уроков
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="panel-title">Воскресенье</span>
				<span class="badge">{{ days.sunday.lessons.length || 0 }}</span>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped table-hovered" ng-show="days.sunday">
					<thead>
					<tr>
						<th>Группа</th>
						<th>Время</th>
						<th>Язык</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="lesson in days.sunday.lessons">
						<td>{{ lesson.group.title }}</td>
						<td>{{ lesson.start | amDateFormat:'HH:mm' }} - {{ lesson.end |  amDateFormat:"HH:mm" }}</td>
						<td>{{ lesson.language.title }}</td>
					</tr>
					</tbody>
				</table>
				<div class="alert-thin alert-info" ng-hide="days.sunday">
					На сегодня нет уроков
				</div>
			</div>
		</div>
	</div>
</div>
