<!DOCTYPE html>
<html ng-app="schoolSpa_admin">
<head>
  <title>School</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if user_signed_in? and current_user.meta.class == Admin%>
       <%= javascript_include_tag 'spa/admin/app', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Admin</h1>
<%= yield %>

</body>
</html>
