<!DOCTYPE html>
<html ng-app="schoolSpa_site">
<head>
  <title>School</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'spa/site/app', 'data-turbolinks-track' => true%>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wrap">
            <h1>Site</h1>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
