<!DOCTYPE html>
<html ng-app="schoolSpa_student">
<head>
  <title>School</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if user_signed_in? and current_user.meta.class == Student%>
      <%= javascript_include_tag 'spa/student/app', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1>Student</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wrap">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
