<!DOCTYPE html>
<html ng-app="schoolSpa_teacher">
<head>
  <title>School</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if user_signed_in? and  current_user.meta.class == Teacher %>
      <%= javascript_include_tag 'spa/teacher/app', 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>IslSchool</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div ng-include src="'/assets/spa/teacher/partials/navigation.html'" ng-controller="teacherNavigation"></div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="col-md-12 wrap">
    <%= yield %>
  </div>
</div>
</body>
</html>
